<h2 class="text-center mt-3">ONLINE BANKING</h2>
<div class="main text-center">
    
    <div class="login-box pb-4">
        <h3 class="pt-3">Login</h3>
        <input type="number" class=" mt-4" placeholder="AC/NO">
        <input type="password" class=" mt-4 mb-3" placeholder="Password">
        <a href="" >Forgotten password?</a><br>
        <button (click)="login()" class="btn btn w-50 mt-4 text-white">login</button><br><br>
        <span>not registered  ?</span><a href=""> register here</a>

    </div>
    
</div>