/* You can add global styles to this file, and also import other style f
body{
    font-family: 'Braah One', sans-serif;
}iles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Merriweather&display=swap');
*{
 
    font-family: 'Merriweather', serif;
}
.main{
    background-image: url('./assets/rupee-symbol-digital-technology-background_1017-36810.avif');
    background-size: cover;

}
body{
    background-color:goldenrod;
}